// Typography styles should go here

body {
  color: $gray-600;
  font-family: Arial;
}

h4 {
  color: darkred;
}

.form-group > .col-form-label {
  font-weight: bolder;
  font-size: 0.9rem;
}

input, select {
  font-weight: $font-weight-bold;
}

button.btn, input[type=button], input[type=submit] {
  font-weight: $font-weight-bold;
}

.form-control, .custom-select {
  font-weight: $font-weight-bold;
}
