// Your variable overrides
$body-bg: #fdfdfd;

$primary:       #2aa7ff;
$success:       #18cf6b;

$form-buttons-min-width: 10rem !default;

$form-inputs-min-width: 20rem !default;
$form-inputs-min-height: 3.5rem !default;
$form-inputs-padding: 1rem !default;

// Bootstrap and its default variables
@import '../../node_modules/bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
@import '../../node_modules/bootstrap-vue/src/index.scss';
// @import "../../node_modules/bootstrap/scss/_variables.scss";
